Login here!

= form_tag sessions_path do
	= label_tag 			:email
	= text_field_tag 	:email, params[:email]
	%br
	= label_tag						:password
	= password_field_tag 	:password
	%br
	= submit_tag "Login"

= link_to "Register", "/users/new"

/ :javascript
/ 	function validateForm()
/ 	{
/ 	var x=document.forms["myForm"].value;
/ 	if (x==null || x=="")
/ 	  {
/ 	  alert("First name must be filled out");
/ 	  return false;
/ 	  }
/ 	}
