%h1 Register here!

/ = form_for @new_user do |f|
/ 	= f.label "Name"
/ 	= f.text_field :user_name
/ 	%br
/ 	= f.label "Email"
/ 	= f.text_field :email
/ 	%br
/ 	= f.label "Password"
/ 	= f.password_field :password
/ 	%br
/ 	= f.label "Password Confirmation"
/ 	= f.password_field :password_confirmation
/ 	%br
/ 	= f.submit "Register"

%form#my-form
	= form_for @new_user do |f|
		%table
			%tr
				%td
					%label
						Name
				%td
					= f.text_field :user_name, class: "more name"
			%tr
				%td
					%label 
						E-mail:
						= succeed ":" do
							%span *
				%td
					= f.text_field :email, class: "required more email"
			%tr
				%td
					%label
						Password
						= succeed ":" do
							%span *
				%td
					= f.password_field :password, class: "required more password"
			%tr
				%td
					%label 
						Password Confirmation:
						= succeed ":" do
							%span *
				%td
					= f.password_field :password_confirmation, class: "required more passwordtwo"
			%tr
				%td
					%label  
					%button{type: "submit"} Submit


/ %form{name: "myForm", onsubmit: "return validateForm()"}
/   First name:
/   %input{name: "fname", type: "text"}/
/   %input{type: "submit", value: "Submit"}/

/ :javascript
/ 	function validateForm()
/ 	{
/ 	var x=document.forms["myForm"]["fname"].value;
/ 	if (x==null || x=="")
/ 	  {
/ 	  alert("First name must be filled out");
/ 	  return false;
/ 	  }
/ 	}