%h1 Register here!

.form#my-form
	%table
		= form_for @new_user do |f|
			%tr
				%td
					%label
						Name
				%td
					= f.text_field :user_name, class: "more name"
			%tr
				%td
					%label 
						E-mail:
						= succeed ":" do
							%span *
				%td
					= f.text_field :email, id: "emailer", class: "required more email"
			%tr
				%td
					%label
						Password
						= succeed ":" do
							%span *
				%td
					= f.password_field :password, class: "required more password"
			%tr
				%td
					%label 
						Password Confirmation:
						= succeed ":" do
							%span *
				%td
					= f.password_field :password_confirmation, class: "required more passwordtwo"
			%tr
				%td
					= f.submit "Register", id: "registration", class: "submitter"